<?

$str="test for php";

?>

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shirink-to-fit=no">
			<meta name="description" content="">
				<meta name="author" content="">

					<title>DBDB</title>

					<style>
					h1{
							font:bold 3rem/0 arial, verdana, sans-serif;
									text-decoration:underline;
										text-align:center;
					}
h2{
		color:seagreen;
				text-align:center;
					font-size:1.5rem;
						font-family:arial, verdana, sans-serif;
}

#search{ /*검색창 버튼 가운데 정렬*/
display:block;
margin:0 auto;
width:600px;
height:20px;
}
</style>

</head>

<body>
	<h1>DBDB</h1>
		<h2>dambae database</h2>
			<form class = "search"> <script>/*검색창과 검색버튼폼 */</script>
					<input class="keyword" id="search" type="text" name="search" maxlength=255 value="" autocomplete="off">
							<input type="button" id="search" value="검색" onclick="input()">
								</form>

								<div class="map_wrap"> <script>/*맵사이즈*/</script>
								    <div id="map" style="width:1500px;height:750px;"></div> 
									</div>

									<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=d747cf91bafdaa611a124e5844accce6"></script>

									<script type="text/javascript"> //지도 생성script
									 
									var mapContainer = document.getElementById('map'), // 지도를 표시할 div
										 mapOption = {
													center: new kakao.maps.LatLng(36.103388, 129.388348), // 지도의 중심좌표
															        level: 3 // 지도의 확대 레벨
																		     };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

//클릭시 이벤트 작동 부분
var temp; // 검색창에서 입력된내용 담는 변수

var x=36.103388; //마커 x좌표
var y=129.388348;//마커 y좌표
var markerPosition  = new kakao.maps.LatLng(x,y); 
var marker = new kakao.maps.Marker({
		    position: markerPosition
			});

var a="test for info box";

var iwContent='<div style-"padding:5px;">'+a+'</div>',
		iwPosition = new kakao.maps.LatLng(x,y);
var infowindow = new kakao.maps.InfoWindow({
position: iwPosition,
content: iwContent
});

	function input(){ //검색 버튼 누룰시 작동하는 함수
				var input = document.getElementById("search").value;
						if(input==""){
										var t = "<?=$str?>";
													alert(t);
																marker.setMap(null);
																			infowindow.close(map,marker);
																					} else{
																									temp = input;
																									//			dbconn();			
																												marker.setMap(map);
																															infowindow.open(map,marker);
																																		panTO();
																																				}
							}

	function panTO(){

				var moveLatlon = new kakao.maps.LatLng(x,y);
						map.panTo(moveLatlon);
							}

	function dbconn(){
				
				var mysql= require('mysql');
						var connection = mysql.createConnection({
											host:'db-term-project.ckytyidjqphd.ap-northeast-2.rds.amazonaws.com',
														user:'admin',
																	password:'handong1'
																			});

								connection.connect();
										connection.query('use term_project');
var position=connection.query('SELECT name FROM nonsmoking WHERE id=2');
														alert(position);
																connection.end();
																	}

</script>
</body>
</html>

